.git
.gitignore
.env
.env.local
.env.*.local
.DS_Store
.editorconfig
.idea
*.iml
.php_cs
.php_cs.cache
.phpunit.result.cache
docker-compose.override.yml
Dockerfile
README.md
PROYECTO_ANALISIS.md
node_modules
npm-debug.log
storage/logs/*
storage/uploads/*
storage/sessions/*
bootstrap/cache/*
vendor/
.varnish
.cache
